body{
    padding: 0;
    margin: 0;
}

.main__title{
    color: black;
    font-size: 3rem;
    text-align: center;
}

#main__title--index{
    color: grey;
}

.main__text{
    font-size: 2rem;
}

.main__link{
    font-size: 2rem;
    text-decoration: none;
    color: red;
}
.main__link:hover{
    color: green;
}